  /* #ffc107 gold */
  /* #66CCCC; aqua */
  /* #E35152; pink */

p {
  font-size: 1.5em;
  font-family: 'Open Sans', sans-serif;
  padding-top: 15px;
  padding-bottom: 15px;
}
h1 {
  font-size: 2.5em;
  color: #66CCCC;
  font-family: "Libre Baskerville", sans-serif;
}
h2 {
  margin-top: 0px;
  font-size: 2.25em;
  color: #E35152;;
}
h3 {
  color: blue;
}
p {
    padding-top: 0px ;
  }
img.displayed {
  display: block;
  margin-left: auto;
  margin-right: auto
}
li {
  font-size: 1.5em;
}
li.resources {
  font-size: 1.2em;
}
footer {
  text-align: center;
  background: #ffc107;
}

footer, p {
  margin: 0;
}
hr {
  overflow: visible; /* For IE */
  height: 30px;
  border-style: solid;
  border-color: black;
  border-width: 1px 0 0 0;
  border-radius: 20px;
}
hr:before { /* Not really supposed to work, but does */
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: black;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}
a {
  color: #197777;
}
a:hover {
  color: #E35152;
}
.container {
  margin: 10px;
  margin: auto;
  width: 80%;
  padding: 10px;
}
.topnav {
  background-color: #ffc108;
  overflow: hidden;
  font-size: 1.5em;
  font-family: 'Open Sans', sans-serif;
}
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #197777;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.05em;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #66CCCC;
  color: white;
}
.intropics{
  margin-bottom: 20px;
}
* {
  box-sizing: border-box;
  }
/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px ;
  font-size: .9em;
  font-family: 'Open Sans', sans-serif;
  overflow: auto;
  margin-top: 0px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.echo {
  border: 1px solid gray;
  padding: 10px;
}
.animal {
  border: 1px solid #ffc107;
  border-radius: 1%;
  padding: 10px;
  margin: 10px;
}
.glossaryword {
  color: #E35152;
  font-size: 1.75em;
}
.glossarydefinitionaqua {
  background-color: #f2f7f7;
  padding: 15px;
  line-height: 1.25em;
  margin-bottom: 10px;
}
.glossarydefinitiongreen {
  background-color: #F0FFF0;
  padding: 15px;
  line-height: 1.25em;
  margin-bottom: 10px;
}
.gallery {
  width: 30%;
}
